:root {
    --main-bg-color: #1e3d59;
    --text-color:#ffc13b;
    --container-inside: #f5f0e1;
    --border-color:  #ff6e40;
  }


body{
    background-color:var(--main-bg-color) ;
    color:var(--text-color);
}


.main{
    display: grid;
    border:solid 5px var(--border-color);
    height: 80%;
    width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--container-inside);
}

.description{
    margin-top: 30px;
    border:solid 5px var(--border-color);
    width: 250px;
}

.button{
    width: 50px;
    height: 50px;
}

.pads {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(50px, auto);
  }